# Compiled source #
###################
*.o
*.so
*.pyc

# Logs and temporaries #
########################
*.log
*~
.coverage
.*

# Folders #
###########
build/
dist/
COSPY.egg-info/
__pycache__/
.eggs/
