include AUTHOR LICENSE MANIFEST.in setup.py README.rst
# documentation
recursive-include doc/source *
recursive-exclude doc/source *.*~
prune doc/source/*/generated
# ISAP binding
recursive-include sparse2d/python *
recursive-exclude sparse2d/python *.*~
prune sparse2d/python/test
