/*
 * nature.css_t
 * ~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- nature theme.
 *
 * :copyright: Copyright 2007-2010 by the Sphinx team, see AUTHORS.
 * :license: BSD, see LICENSE for details.
 *
 */
/* @import url("minimalist.css") /\* google custom search *\/ */
@import url("basic.css");


/* Define Colors
first level: #52AA16 
second level: #8DFA79;
third level: #9BEC97;
fourth level: #9ED939;
a: #AD7E5C;
menu bar orange: #FF9C34;
*/

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

div.header-wrapper {
    background-color: #ffffff;
    width: 90%;
    min-height: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

ul.horizontal, ul.horizontal li {
    display: inline;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

div.header {
    width: 100%;
    height: 5em;
    /* for the logo to correctly expand when showing results
       but remain cut when not */
}

.navbar-header {
    width: 20%;
}

a.navbar-brand img {
    width: 100%;
    height: 100%;
}

div.carousel-inner {
    margin-left: 7%;
    width: 86%;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    width: 100%;
    height: auto;
}

.carousel-control {
    width: 7%;
}

.carousel-control span{
    position: absolute;
    top: 50%;
    left: -1%;
}

/*---------------------------------------------------------------*/

.float-left {
    float: left;
}

.quote {
    text-align: right;
    line-height: 1.5em;
    font-style: italic;
    margin: 2em 3em 1em 3em;
}

div.content-wrapper {
    background-color: #ffffff;
    color: #1D1F22;
    max-width: 90%;
    margin-top: 2em;
    margin-left: 5%;
    margin-right: auto;
    border-radius: 1em;
    position: relative;
}

div.content {
    margin-left: 16%;
    padding-bottom: 2em;
}

hr {
   border: 0.1em solid #B1B4B6;
}

div.body {
    font-size: 1.5em;
}

div.footer {
    color: #999;
    width: 100%;
    padding: 2em 0;
    text-align: center;
    font-size: 100%;
}

div.footer a {
    color: #999;
    text-decoration: underline;
}

div.related {
    background-color: #6BA81E;
    color: #fff;
    text-shadow: 0em 0.1em 0 #444;
    font-size: 0.9em;
}

div.related a {
    color: #E2F3CC;
}


div.sphinxsidebar h3,
div.sphinxsidebar h4 {
    padding: 5px 10px;
    background-color: #8DFA79;
    font-weight: normal;
    color: white;
    margin: 0;
    margin-right: 10px;
    border-radius: 4px;
}

div.sphinxsidebar h3 a,
div.sphinxsidebar h4 a{
    color: white;
}

div.sphinxsidebar img {
    margin: 5px;
}


div.sphinxsidebar p {
    padding: 0px 20px;
}

div.sphinxsidebar p.topless {
}

div.sphinxsidebar ul {
    margin: 10px 0px;
    padding: 0;
    color: #000;
    font-weight: bold;
}

div.sphinxsidebar ul ul {
    margin-right: 0;
    margin-left: 0;
    list-style: none;
    color: #355F7C;
    font-weight: normal;
}

div.sphinxsidebar ul ul ul {
    font-size: 90%;
    list-style: square;
    margin-left: 15px;
}

div.sphinxsidebar {
    width: 15%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background-color: inherit;
    border-top-left-radius: 15px;
    -moz-border-radius:15px;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    margin-top: 0;
}

div.sphinxsidebar h3 {
    text-align: left;
    font-size: 16px;
}

div.sphinxsidebar ul {
    list-style: none;
}

div.sphinxsidebar {
    font-size: 100%;
    line-height: 1.5em;
}

div.sphinxsidebarwrapper {
    padding: 0 0 0 0;
    width: 98%;
}

{% if theme_collapsiblesidebar|tobool %}
/* for collapsible sidebar */
div#sidebarbutton {
    background-color: #F6F6F6;
    position: relative;
}
{% endif %}

/* -- body styles ----------------------------------------------------------- */

a {
    color: #AD7E5C;
    text-decoration: none;
    word-wrap: break-word;
}

a:hover {
    color: #52AA16;
    text-decoration: underline;
}

div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: Arial, sans-serif;
    background-color: #9BEC97;
    font-weight: normal;
    color: #52AA16;
}

div.body h1,
div.body h2,
div.body h3 {
    padding: 1.5%;
    text-align: center;
    border-radius: 1em;
    font-weight: bold;
    word-wrap: break-word;
}

div.body h2,
div.body h3 {
    text-align: left;
}

div.bodywrapper {
    margin: 0 0 0 0;
}


div.bodywrapper h1 {
    text-align: center;
    background-color: #9ED939;
    color: #FFFFFF;
    margin-bottom: 0.5em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 190%;
    border-radius: 0 1em 0 1em;
    -moz-border-radius: 0 1em 0 1em;
}

div.body h3 {
    font-size: 120%;
    background-color: #D4FFCD;
    color: #7FD57A;
    padding: 0.5;
    border-radius: 1em;

}
div.body h4 { font-size: 110%; background-color: #F4F4F4; }
div.body h5 { font-size: 100%; background-color: #F4F4F4; }
div.body h6 { font-size: 100%; background-color: #F4F4F4; }

a.headerlink {
    color: #c60f0f;
    font-size: 0.8em;
    text-decoration: none;
}

a.headerlink:hover {
    background-color: #c60f0f;
    color: white;
}

div.body p, div.body dd, div.body li {
    line-height: 1.5em;
}

div.admonition p.admonition-title + p {
    display: inline;
}

div.highlight{
    background-color: white;
}

div.highlight a {
    text-decoration: underline;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
}

div.seealso {
    background-color: #FFFBE8;
    border: 1px solid #fbeed5;
    color: #AF8A4B;
}

div.topic {
    background-color: #eee;
    border: 1px solid #CCC;
    margin: 1em 0px;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}

div.topic {
    background-color: #fffbe8;
    color: #aF8A4B;
    border: 1px solid #FBEED5;
}

div.warning {
    color: #b94a48;
    background-color: #F3E5E5;
    border: 1px solid #eed3d7;
}

div.green {
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}

.align-center {
    /* override default value clear: both,
       it conflicts with the left sidebar */
    clear: right !important;
}

tt {
    background-color: #ecf0f3;
    color: #222;
    /* padding: 1px 2px; */
    font-size: 1.1em;
    font-family: monospace;
}

.viewcode-back {
    font-family: Arial, sans-serif;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}

div.rel {
    text-align: center;
    margin-right: 10px;
    background-color: #ff9c34;
    color: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

div.rel div.spacer {
    background-color: white;
    width: 1px;
    height: 57px;
    display: inline-block;
    margin-bottom: -10px;
}

div.rel div.rellink {
    display: inline-block;
    padding: 4px 2px 0px 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 27%;
    vertical-align: top;
    position: relative
}

div.rellarge div.rellink {
    width: 40%;
    margin-bottom: 0px;
}

div.rellarge div.spacer {
    height: 45px;
}


div.rel {
    margin-bottom: 10px;
}

div.rel a,
div.rel a:link,
div.rel a:visited,
div.rel a:hover {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

div.rel a:hover {
    color: #EEE;
}

div.rel span.smallrellink {
    font-size: 8px;
    line-height: 10px;
}

div.rel span.hiddenrellink {
    display: none;
    z-index: 100;
}

div.rellink:hover span.hiddenrellink {
    display: block;
    position: absolute;
    left: -20px; top: 30px;
    width: 200px;
    background-color: #ff9c34;
    padding: 3px;
    border: 2px solid #1D1F22;
    color: white;
}

th.field-name {
    white-space: nowrap;
}


/* -------- warning header for old versions --------------------------------*/

div.warning-wrapper {
    background-color: #ffaaaa;
    max-width: auto;
    text-align: center;
}
div.warning-wrapper p {
    margin: 0;
}

/* --- New frontpage ------------------------------------------------------- */

div.banner-container {
  width:100%;
  background-color: #52AA16;
  height: auto;
}

div.banner-inner {
  width:90%;
  margin-left: 5%;
  margin-right:auto;
  padding: 3em 0em;
}

div.banner-inner p {
  font-size: 1.7em;
}

div.banner-container h1 {
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white;
}

div.banner-container h2 {
  font-size: 17px;
  font-style: italic;
  font-weight: normal;
  color: white;
  margin-top: -5px;
}

div.container.index-upper {
    width: 100%;
}

div.container.index-lower {
    width: 100%;
    margin-top: 40px;
    background-color: #F8F8F8;
    color: #222;
    border: 1px solid #DDD;
    padding: 10px;
    border-radius: 4px;
}

div.container.index-lower .span4, div.container.index-lower .span8, div.container.index-lower .span6 {
    padding-left: 5px;
}

div.container.index-lower h4,  div.container.index-lower h4 a{
    color: #FF9C34;
}

div.container.index-lower h4 {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 5px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: transparent;
}

div.container.index-lower ul {
    list-style-type: none;
    margin-left: 0;
}

div.container.index-lower ul li {
    margin-bottom: 8px;
    line-height: 1.3em;
}

div.container.index-lower ul li em {
    font-style: normal;
    font-weight: bold;
}

#paypal-form {
    margin: 30px 0;
    padding: 0;
}

div.container.index-lower a.cite-us {
    margin-left: 60px;
    padding-right: 20px;
    padding-left: 20px;
}

div.box h2 {
    height: 26px;
    background-color: transparent;
    padding: 0px;
}

div.box h2 p {
    margin: 0;
    padding: 0;
    display: inline;
}

div.box h2 p em {
    font-style: normal;
}

blockquote {
    border-left: none;
}

div.body h1.no-bg, div.body h2.no-bg, div.body h3.no-bg, div.body h4.no-bg {
    background-color: transparent;
}

div.body h2.no-bg, div.body h3.no-bg{
    padding: 0px 0px 0px 20px;
}

div.box-links {
    margin-top: 8px;
}

div.box-links p {
    display: inline;
}

p.doc-version {
    text-align: center;
    color: #b94a48;
    background-color: #F3E5E5;
    border: 1px solid #eed3d7;
    border-radius: 4px;
    margin-right: 10px;
}

p.citing {
    background-color: #FFFBE8;
    border: 1px solid #fbeed5;
    color: #AF8A4B;
    text-align: center;
    border-radius: 4px;
    margin-right: 10px;
}

.field-odd, .field-even {
    background-color: #fff;
}

.field-name {
    background-color: #F0F7FA;
}

.field-body {
    background-color: #fff;
}

dl.class dt, dl.function dt {
    padding: 10px;
    background-color: #f8f8f8;
    color: #222;
    line-height: 1.2em;
    border: 1px solid #ddd;
    margin: 1.5em 0 1.5em 0;
    border-radius: 4px;
    font-weight: normal;
}

table.docutils.citation, table.docutils.footnote  {
    border-left: 0;
    margin-left: 0;
    border: 0;
}

table.docutils.citation td, table.docutils.citation tr, table.docutils.footnote td, table.docutils.footnote tr{
    border: 0;
    background-color: transparent;
}

table.docutils.citation tr td.label, table.docutils.footnote tr td.label {
    font-size: 0.9em;
    background-color: transparent;
    border-radius: 0px;
    color: #1D1F22;
    text-shadow: none;
}

.docutils > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

